.search {
  display: flex;
  flex-direction: column;
  align-items: center;

  //atr selector
  input[type='search'] {
    width: 27em;
    border: 0;
    border-radius: 0.3em;
    padding: 0.4em 2.3em 0.4em 0.4em;
    transition: all 0.4s;
    background-color: transparent;
    border-bottom: 0.25em solid white;
    color: white;
    filter: drop-shadow(0 0 0.5em rgb(211, 211, 211));

    &:focus,
    &:hover {
      color: black;
      background-color: white;
      border-radius: 1.2em;
      outline: 0;
    }

    &::placeholder {
      color: rgb(255, 255, 255);
    }

    &:focus::placeholder,
    &:hover::placeholder {
      color: gray;
    }
  }

  svg {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }
}