@font-face {
  font-family: Vazir;
  src: url('/fonts/VAZIR.TTF');
}

* {
  margin: 0;
  font-family: "Vazir";

  ::selection {
    color: white;
    background-color: gray;
  }
}

button {
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.loading {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 216, 216);

  p {
    font-size: 1.2em;
  }
}